<div class="nav-bar">
  <a href="#">
     <div class="logo">
         <p class="logo-text"> Yo-Dev </p>
     </div>
  </a>
  <div class="nav-items">
      <ul>
          <a href="#"><li class="nav-item">Home</li></a>
          <a href="#"><li class="nav-item">Projects</li></a>
          <a href="#"><li class="nav-item">Our Team</li></a>
          <a href="#"><li class="nav-item">About Us</li></a>
      </ul>
  </div>
</div>
<div class="card-container">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</div>

